@media screen and (max-width: 1023px) {
    .container {
        width: 94%;
    }
}

/* header */

@media screen and (max-width: 1023px) {
    .contacts-top {
        display: none;
    }

    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        background-color: #009aff;
        z-index: 200;
    }

    .fa-bars {
        display: flex;
    }

    .main-nav {
        margin: 0;
    }
}

/* Content main page */

