@media screen and (max-width: 1023px) {
    .container {
        width: 94%;
    }
}

/* header */

@media screen and (max-width: 1023px) {
    .contacts-top {
        display: none;
    }

    .navigation {
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
        display: none;
        flex-direction: column;
        width: 50%;
        max-height: 100%;
        overflow: scroll;
        background-color: #009aff;
        border: 3px solid #ff5a5a;
        z-index: 200;
    }

    .fa-bars {
        display: flex;
    }

    .main-nav {
        margin: 0;
    }

    .link-nav {
        color: #fff;
        border-bottom: 3px solid #fff;
        text-align: right;
    }

    .link-nav:last-child {
        border-bottom: none;
    }

    .close-mobile-nav {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .navigation {
        width: 70%;
    }
}

/* Content main page */

@media screen and (max-width: 768px) {
    .main-item {
        width: 48%;
    }
}

@media screen and (max-width: 425px) {
    .main-item {
        width: 100%;
    }
}

/* Content customers page */

@media screen and (max-width: 768px) {
    .item-customer {
        width: 48%;
    }
}

@media screen and (max-width: 425px) {
    .item-customer {
        width: 100%;
    }
}

/* Content contacts page */

@media screen and (max-width: 1023px) {
    .text-contact {
        width: 769px;
    }
}

@media screen and (max-width: 768px) {
    .text-contact {
        width: 425px;
    }
}

@media screen and (max-width: 425px) {
    .text-contact {
        width: 100%;
    }
}