html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.2em;
    margin: 15px 0;
}

.text-bold {
    font-weight: bold;
}

.show-content {
    display: block;
}

.hide-content {
    display: none;
}

.show {
    display: flex !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.head-top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.contacts-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 3px solid #009aff;
}

.contacts-top-links, .contacts-links {
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.contacts-top-links:hover, .contacts-links:hover {
    color: #009aff;
    transition: .5s;
}

.fa-contacts-top {
    width: 50px;
    text-align: center;
}

.contacts-links {
    position: relative;
    margin-top: 15px;
}

.contacts-links:first-child {
    margin: 0;
}

.fa-contacts {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    font-size: 2em;
}

.contacts-links > span {
    display: block;
    padding-left: 100px;
    font-size: 1.5em;
}

.main-nav {
    background-color: #e7e7e7;
    margin-top: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.link-nav {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 20px 25px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: .5s;
}

.link-nav:hover {
    border-bottom: 3px solid #009aff;
    color: #009aff;
    transition: .5s;
}

.content {
    flex: 1 0 auto;
}

.main-heading {
    border-bottom: 3px solid #009aff;
}

.text-ordinary {
    font-size: 1.2em;
    text-align: justify;
}

footer {
    flex: 0 0 auto;
    height: 123px;
    background-color: #009aff;
}

.copyright {
    display: flex;
    height: 123px;
    justify-content: center;
    align-items: center;
}

.text-copyright {
    display: inline-block;
    color: #fff;
}

.logo-footer {
    margin-right: 10px;
}

.main-points {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.main-item {
    position: relative;
    width: 30%;
    height: 300px;
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.dark_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    z-index: 0;
}

.main-item-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    color: #fff;
}

.short-info {
    display: none;
    font-weight: 300;
    margin: 0;
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
    cursor: default;
}

.heading-item {
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}

.item-about {
    background-image: url(../img/logo.png);
}

.item-seminars {
    background-image: url(../img/back_seminars.jpg);
}

.item-projects {
    background-image: url(../img/back_projects.jpg);
}

.item-customers {
    background-image: url(../img/customers/logo_ukhta.png);
}

.item-reviews {
    background-image: url(../img/reviews/gazp.png);
    background-size: 200%;
}

.item-contacts {
    background-image: url(../img/back_contact.png);
}

.main-item-link {
    display: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #009aff;
    padding: 20px 0;
    box-shadow: 0px -30px 20px 0px #d5d5d5;
    transition: 1s;
}

.main-item:hover .main-item-content {
    justify-content: space-between;
}

.main-item:hover .short-info {
    display: block;
}

.main-item:hover .main-item-link {
    display: block;
}

.main-item-link:hover {
    background-color: #8fd3ff;
    transition: 1s;
}

.wrapper-content-services, .wrapper-content-projects {
    display: flex;
    justify-content: space-between;
    min-height: 750px;
}

.items-services, .items-projects {
    width: 30%;
    border-right: 1px solid #009aff;
    padding-right: 15px;
}

.link-service, .link-projects {
    display: block;
    text-decoration: none;
    color: #009aff;
    padding-top: 15px;
}

.description-service, .description-projects {
    width: 70%;
    padding-left: 15px;
}

.active-link {
    color: #ff5a5a;
}

.block-customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item-customer {
    width: 30%;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 1px solid #009aff;
}

.logo-customer {
    display: block;
    max-width: 100%;
    height: 120px;
    margin: 0 auto;
    transition: .5s;
}

.name-company, .name-review {
    font-size: 1em;
    text-align: center;
    color: #ff5a5a;
}

.item-customer:hover .logo-customer {
    transform: scale(1.1);
    transition: .5s;
}

.reviews-link:hover .img-review {
    transform: scale(1.03);
    transition: .5s;
}

.block-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.reviews-link:first-child, .reviews-link:nth-child(4) {
    margin-left: 0;
}

.reviews-link {
    width: 30%;
    text-decoration: none;
    border-bottom: 1px solid #009aff;
    margin-top: 20px;
    margin-left: 5%;
}

.img-review {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #e7e7e7;
    transition: .5s;
}

.text-contact {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.map {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.fa-arrow-down {
    display: block;
    text-align: center;
    font-size: 5em;
    color: #009aff;
}

.wrap-text-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.fa-bars {
    display: none;
    align-items: center;
    font-size: 2.5em;
    color: #009aff;
    padding: 0 20px;
    border: 1px solid #009aff;
}

.fa-times-circle-o {
    color: #fff;
    background-color: #ff5a5a;
}

.close-mobile-nav {
    display: none;
    background-color: #ff5a5a;
}

.nav-seminars {
    color: #009aff;
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.seminar-topics {
    margin-top: 10px;
    border-bottom: 1px solid #009aff;
}

.seminar-topics:first-child {
    margin: 0;
}

.seminar-topics:last-child {
    border: none;
}

.topic-text {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    cursor: default;
}

.list-seminars {
    padding-left: 20px;
    list-style: outside;
}

.seminar {
    padding-top: 5px;
    cursor: pointer;
}

.seminar:last-child {
    padding-bottom: 5px;
}

.seminar:hover {
    text-decoration: underline;
}

li.seminar.active-link:hover {
    text-decoration: none;
    cursor: default;
}

.list-description-seminar {
    list-style: none;
    font-size: 1.2em;
    padding-left: 30px;
    margin: 0;
}

.elem-list-description {
    position: relative;
    margin-top: 10px;
}

.elem-list-description:first-child {
    margin: 0;
}

.marker-list {
    position: absolute;
    left: -30px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.link-content {
    text-decoration: none;
    border-bottom: 1px dashed #009aff;
}

.link-content:hover {
    color: #ff5a5a;
    border-bottom: 1px dashed transparent;
}

.description-project h2, .description-seminar h2 {
    margin: 15px 0 0 0;
}

.description-seminar, .description-project {
    margin-bottom: 15px;
}

.link-projects:last-child {
    margin-bottom: 15px;
}