html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: justify;
    font-size: 1em;
    margin: 15px 0;
}

.pointer {
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.show-content {
    display: block;
}

.hide-content {
    display: none !important;
}

.show {
    display: flex !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.head-top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.contacts-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 3px solid #006ed6;
}

.contacts-top-links, .contacts-links {
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.contacts-top-links:hover, .contacts-links:hover {
    color: #006ed6;
    transition: .5s;
}

.fa-contacts-top {
    width: 50px;
    text-align: center;
}

.contacts-links {
    position: relative;
    margin-top: 15px;
}

.contacts-links:first-child {
    margin: 0;
}

.fa-contacts {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    font-size: 1.5em;
}

.contacts-links > span {
    display: block;
    padding-left: 50px;
    font-size: 1em;
}

.main-nav {
    background-color: #e7e7e7;
    margin-top: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.link-nav {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 20px 25px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: .5s;
}

.link-nav:hover {
    border-bottom: 3px solid #006ed6;
    color: #006ed6;
    transition: .5s;
}

.content {
    flex: 1 0 auto;
}

.main-heading {
    border-bottom: 3px solid #006ed6;
}

.text-ordinary {
    font-size: 1em;
    text-align: justify;
}

footer {
    flex: 0 0 auto;
    height: 123px;
    background-color: #006ed6;
}

.copyright {
    display: flex;
    height: 123px;
    justify-content: center;
    align-items: center;
}

.text-copyright {
    display: inline-block;
    color: #fff;
}

.logo-footer {
    margin-right: 10px;
}

.main-points {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.main-item {
    position: relative;
    box-sizing: border-box;
    width: 30%;
    height: 300px;
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s;
    border: 1px solid #fff;
}

.main-item:hover {
    border: 1px solid #000;
    cursor: pointer;
    transition: .5s;
}

.main-item:hover .heading-item {
    cursor: pointer;
}

.dark_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c7e6ff;
    opacity: .8;
    z-index: 0;
}

.main-item-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    z-index: 100;
    color: #fff;
}

.short-info {
    display: none;
    font-weight: 300;
    margin: 0;
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
    cursor: default;
}

.heading-item {
    position: relative;
    color: #000;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
    z-index: 100;
}

/* .item-about {
    background-image: url(../img/new_logo_blue.png);
} */

.item-seminars {
    background-image: url(../img/back_seminars.jpg);
}

.item-projects {
    background-image: url(../img/back_projects.jpg);
}

.item-customers {
    background-image: url(../img/back_customers.png);
    background-size: 90%;
}

.item-reviews {
    background-image: url(../img/reviews/giper.png);
    background-size: 130%;
    background-position-x: 65%;
}

.item-contacts {
    background-image: url(../img/back_contact.png);
}

.main-item-link {
    display: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #006ed6;
    padding: 20px 0;
    transition: 1s;
}

/* .main-item:hover .main-item-content {
    justify-content: space-between;
} */

.main-item:hover .short-info {
    display: block;
}

.main-item:hover .main-item-link {
    display: block;
}

.main-item-link:hover {
    background-color: #8fd3ff;
    transition: 1s;
}

.wrapper-content-services, .wrapper-content-projects {
    display: flex;
    justify-content: space-between;
    min-height: 750px;
}

.items-services, .items-projects {
    width: 30%;
    border-right: 1px solid #006ed6;
    padding-right: 15px;
}

.link-service, .link-projects {
    display: block;
    text-decoration: none;
    color: #006ed6;
    padding-top: 15px;
}

.description-service, .description-projects {
    width: 70%;
    padding-left: 15px;
}

.active-link {
    color: #ff4537 !important;
}

.block-customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item-customer {
    width: 24%;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 1px solid #006ed6;
}

.item-partners {
    display: block;
    width: 40%;
    text-decoration: none;
}

.logo-customer {
    display: block;
    max-width: 100%;
    height: 120px;
    margin: 0 auto;
    transition: .5s;
}

.logo-partners {
    width: 55%;
}

.name-company, .name-review {
    font-size: 1em;
    text-align: center;
    color: #000;
}

.item-customer:hover .logo-customer {
    transform: scale(1.1);
    transition: .5s;
}

.reviews-link:hover .img-review {
    transform: scale(1.03);
    transition: .5s;
}

.block-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.reviews-link:first-child, .reviews-link:nth-child(4) {
    margin-left: 0;
}

.reviews-link {
    width: 30%;
    text-decoration: none;
    border-bottom: 1px solid #006ed6;
    margin-top: 20px;
    margin-left: 5%;
}

.img-review {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #e7e7e7;
    transition: .5s;
}

.text-contact {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.map {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.fa-hand-o-down {
    display: block;
    text-align: center;
    font-size: 5em;
    color: #006ed6;
    margin: 10px 0;
}

.wrap-text-contact {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.fa-bars {
    display: none;
    align-items: center;
    font-size: 2.5em;
    color: #006ed6;
    padding: 0 20px;
    border: 1px solid #006ed6;
}

.fa-times-circle-o {
    color: #fff;
    background-color: #ff4537;
}

.close-mobile-nav {
    display: none;
    background-color: #ff4537;
}

.nav-seminars {
    color: #006ed6;
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.seminar-topics {
    margin-top: 10px;
    border-bottom: 1px solid #006ed6;
}

.seminar-topics:first-child {
    margin: 0;
}

.seminar-topics:last-child {
    border: none;
}

.topic-text {
    position: relative;
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    cursor: pointer;
}

.list-seminars {
    padding-left: 20px;
    list-style: outside;
}

.seminar {
    padding-top: 5px;
    cursor: pointer;
}

.seminar:last-child {
    padding-bottom: 5px;
}

.seminar:hover {
    text-decoration: underline;
}

li.seminar.active-link:hover {
    text-decoration: none;
    cursor: default;
}

.list-description-seminar {
    list-style: none;
    font-size: 1.2em;
    padding-left: 30px;
    margin: 0;
}

.elem-list-description {
    position: relative;
    margin-top: 10px;
    font-size: .85em;
    text-align: justify;
}

.elem-list-description:first-child {
    margin: 0;
}

.marker-list {
    position: absolute;
    left: -30px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.link-content {
    text-decoration: none;
    border-bottom: 1px dashed #006ed6;
}

.link-content:hover {
    color: #ff4537;
    border-bottom: 1px dashed transparent;
}

.description-project h2, .description-seminar h2, .block-customers h2 {
    margin: 15px 0 0 0;
}

.description-seminar, .description-project {
    margin-bottom: 15px;
}

.link-projects:last-child {
    margin-bottom: 15px;
}

.open-list-seminars, .open-list-projects {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #006ed6;
    color: #fff;
    text-transform: uppercase;
}

.fa-list-ul {
    margin-right: 10px;
    font-size: 1.4em;
}

.close-mobile-nav-seminars, .close-mobile-nav-projects {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff4537;
  }

  .wrap-modal-window {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.modal-window {
    position: relative;
    width: 1024px;
    background-color: #fff;
    overflow: scroll;
    z-index: 9999;
}

.close-modal-window {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-close-modal-window {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
}

.img-modal-window {
    width: 100%;
}

.opacity {
    opacity: .5;
}

.fa-chevron-right {
    position: absolute;
    top: 0;
    right: -5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom: 5px;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: .3s;
}

.overflow-hidden {
    overflow: hidden;
}

.email-seminars {
    display: none;
    background-color: #e7e7e7;
    padding: 15px 0;
}

.wrap-heading-item {
    position: relative;
}

.layer-heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    z-index: 0;
}

.dividing-line {
    width: 40%;
    margin: 50px auto;
    border-top: 1px solid #006ed6;
}

.wrap-block-partners h2 {
    text-align: center;
}

.block-partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-img {
    display: flex;
    justify-content: center;
    align-items: center;
}